services:
  user-service:
    build:
      context: ./users-service
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    networks:
      - microservices-network

  product-service:
    build:
      context: ./product-service
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    networks:
      - microservices-network

  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    ports:
      - "5002:5002"
    depends_on:
      - user-service
      - product-service
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge